#map {
	width: 700px;
	height: 600px;
}

th {
	background-color: #4e73df;
	color: white;
}

td, h1, h2, h3, label, p {
	color: black;
}

#nPerizie {
	font-size: 46pt;
}

.jumbotron {
	cursor: pointer;
}

.titolo {
	font-size: 15pt;
	font-weight: bold;
	margin-top: 10px;
}

.icona-rossa {
	color: #dc3545;
	/* colore usato da is-invalid */
	border: 1px solid #dc3545;
	border-right: transparent;
}

#loginBody {
	background-color: #4e73df;
}

html {
	overflow: hidden;
}

#durataPercorso {
	color: black;
	font-weight: bold;
}

img:hover {
	cursor: pointer;
}

.js-example-basic-single {
	width: 60%;
}